*
{
	margin: 0px;
	padding: 0px;
}
body
{
	background: url(../images/logos/Logo-Small.png);
	overflow-x: hidden;
}

/* Navigation */
.nav 
{ 
	position: fixed;
	width: 100%;
	background-color: black; 
	z-index: 3;
}
.nav-container
{
	display: block;
	background-color: black;
	height: 60px;
	width: 625px;
	margin: auto; 
}
a { text-decoration: none; color: white; }
a:hover { text-decoration: none; color: grey; }
ul > li
{
	list-style: none;
	float: left;
	width: 125px;
	height: 50px;
	background-color: black;
	opacity: .8;
	line-height: 40px;
	text-align: center;
	font-family: sans-serif;
	font-size: 14px;
	padding-top: 10px;
}
ul li ul li { display: none; }
ul li:hover ul li { display: block; }
/* Navigation */


/* PL Section */	
.pl-section{
	text-align: center;
	padding-top: 50px;
	margin-bottom: -75px;
}

.pl-section img {
	margin: 10px 50px;
}
/* PL Section */

/* WD-section */
.WD-section{
	margin: 150px;
	padding: 10px;
	background-color: black;
}
.WD-title{
	text-align: center;
	background-color: rgba(0, 128, 128);
	color: whitesmoke;
	margin-bottom: 10px;
	padding-bottom: 15px;
	padding-top: 15px;

}

.WD-body {
	text-align: center;
	background-color: rgba(0, 128, 128, 0.5);
	padding: 50px 0px;
}

.WD-body img{
	/* margin: 10px 25px; */
	margin: 10px 10px;

}
/* WD-section */

/* Footer */
.footer img
{
	margin: 0pc 5px 15px 5px;
}
.footer
{
	background-color: rgb(50,50,50);
	color: white;
	font-size: 14px;
	text-align: center;
	padding: 60px 0px 70px 0px;
	/* width: 100vw; */
}
/* Footer */

@media(max-width: 630px) /* Navigation  */
{
.nav 
{ 
	position: fixed;
	width: 100%;
	z-index: 3;
}
.nav-container
{
	display: block;
	background-color: black;
	height: 60px;
	width: 500px;
	margin: auto; 
}
a { text-decoration: none; color: white; }
a:hover { text-decoration: none; color: grey; }
ul > li
{
	list-style: none;
	float: left;
	width: 95px;
	height: 50px;
	background-color: black;
	opacity: .8;
	line-height: 40px;
	text-align: center;
	font-family: sans-serif;
	font-size: 14px;
	padding-top: 10px;
}
ul li ul li { display: none; }
ul li:hover ul li { display: block; }
}